body {
    background-image: linear-gradient(90deg, cyan, yellow);
}

.cabecalho {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin: 20px;
    border-bottom: 2px solid black;
    width:18%;
   


}


.cadastro {
    font-size: 25px;
    margin: 20px;
}

.input {
    padding: 15px;
    width: 50%;
    border-radius: 10px;
    color: #000000 ;
    font-size: 15px;
    outline: none;
}

.input:hover {
    border-color: aliceblue;
    font-size: 20px;

}

textarea {
    width: 50%;
    padding: 15px;
    color: #000000 ;
    font-size: 25px;
    border-radius: 10px;
}

.botao-enviar {
    background-color: rgb(7, 248, 248);
    width: 52.5%;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    color:#ffffff
}

/*css tela de login*/