body {
    background-image: linear-gradient(45deg, black, purple);
}

.cabecalho {
    font-size: 50px;
    font-weight: bold;
    color: aliceblue;
    margin: 20px;


}


.cadastro {
    font-size: 25px;
    margin: 20px;
}

.input {
    padding: 15px;
    width: 50%;
    border-radius: 10px;
    background-image: linear-gradient(45deg, black, purple);
    color: aliceblue;
    outline: none;
    font-size: 15px;
}

.input:hover {
    border-color: aliceblue;
    font-size: 20px;
}

textarea {
    width: 50%;
    background-image: linear-gradient(45deg, black, purple);
    padding: 15px;
    color: aliceblue;
    font-size: 15px;
}

.botao-enviar {
    background-image: linear-gradient(45deg, black, purple);
    width: 52.5%;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    color: aliceblue;
}
